.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: transparent;
    border-radius: 5% 5% 0 0;
    box-shadow: 2px 2px 5px #888888;
}

.profileImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: auto;
    border-bottom: none;
    border-radius: 5% 5% 0 0;
}

.statusProfile {
    margin-top: -2px;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, #b8f8a7, #36fb00); /* Gradiente de um verde mais claro para #6FF74A */
    color: #333; /* Cor do texto mais escura */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* Adiciona negrito para melhor leitura */
    border-top: 1px solid #D1FFC7; /* Simula um reflexo branco na borda superior */
}