
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Tahoma', sans-serif; 
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;     

  background-image: url('./assets/8519065.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}